{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class='article-entry'>
        <h2>{{ ticket.title }}</h2>
        <p>by {{ ticket.author }} | {{ ticket.date }} </p>
        <p>Importance: {{ ticket.get_importance_display }}; Status: {{ ticket.get_status_display }} </p>
        <p>{{ ticket.body }}</p>
        {% if not ticket.attachment%}
            </br>
        {% else %}
            <img src="{{ ticket.attachment.url }}">
        {% endif %}
        
        {% if not ticket.author.profile_pic%}
        <p><img src="{% static 'thehelpdesk/images/default_pic.jpg' %}" class="rounded-circle" width=60 height=60> </p>
            <p>{{ ticket.author }} | {{ ticket.date }} </p>
        {% else %}
            <p><img src="{{ ticket.author.profile_pic.url }}" class="rounded-circle" width=60 height=60> 
            <p>{{ ticket.author }} | {{ ticket.date }} </p>
        {% endif %}
    </div>
    {% if user.id == ticket.author.id %}
    <p><a href="{% url 'ticket_edit' ticket.pk %}">Edit</a> |
        <a href="{% url 'ticket_delete' ticket.pk %}">Delete</a></p>
    {% endif %}
    <p>Back to<a href="{% url 'ticket_list' %}"> All Tickets</a>.</p>
    <br/>
    <hr>
    <h3>Responses...</h3>

    {% if not ticket.comments.all %}
        No response yet...<a href="{% url 'add_comment' ticket.pk %}">If you have anything additional to add you can add a response<a/>
    {% else %}
    
    <a href="{% url 'add_comment' ticket.pk %}">Add Comment</a>
    <br/>
    <hr>
    
        {% for comment in ticket.comments.all %}
            <strong>
                {{ comment.author }} - {{ comment.date_added }} - <a href="{% url 'delete_comment' ticket.pk comment.pk %}">Delete comment</a>
            </strong>
            </br>
            {{ comment.body }}
            <hr>
        {% endfor %}
    {% endif %}
    <br/>
    <br/>
    <hr>

{% endblock content %}